In [2]:
import pandas as pd

#### Read the Data

In [5]:
df_prob = pd.read_csv("problem_data.csv")

In [6]:
df_user = pd.read_csv("user_data.csv")

In [8]:
df_train = pd.read_csv("train_submissions.csv")

### Understand the problem
- There are 3 csv files or input files:
    - problem information
    - user information
    - information about attempts count to resolve a problem by user 
- Problem statement is: Attempt count to be predicted, when User id and problem id is given.

In [20]:
df_user.shape,df_prob.shape, df_train.shape

((3571, 11), (6544, 4), (155295, 3))

In [19]:

print('Unique users in df_train:', len(set(df_train.user_id.values)))
print('Unique problems in df_train:', len(set(df_train.problem_id.values)))

Unique users in df_train: 3529
Unique problems in df_train: 5776

In [29]:
print('how many user ids are in df_train.csv but not in df_user:',\
      len(set(df_train.user_id.values) - set(df_user.user_id.values) ))

how many user ids are in df_train.csv but not in df_user: 0

In [30]:
print('how many problem ids are in df_train.csv but not in df_problem:',\
      len(set(df_train.problem_id.values) - set(df_prob.problem_id.values) ))

how many problem ids are in df_train.csv but not in df_problem: 0

#### All data corresponding to df_train is available

## df_user

In [35]:
df_user.describe(include = 'all')

,user_id,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds
count,3571,3571.000000,3571.000000,3571.000000,2418,3571.000000,3.571000e+03,3571.000000,3571.000000,3571,3.571000e+03
unique,3571,NaN,NaN,NaN,79,NaN,NaN,NaN,NaN,4,NaN
top,user_3263,NaN,NaN,NaN,India,NaN,NaN,NaN,NaN,beginner,NaN
freq,1,NaN,NaN,NaN,619,NaN,NaN,NaN,NaN,1509,NaN
mean,NaN,299.481098,267.894427,4.102492,NaN,46.690563,1.502680e+09,390.374392,350.165578,NaN,1.434961e+09
std,NaN,366.102887,344.139688,16.552256,NaN,211.494638,5.114850e+06,92.428788,106.592503,NaN,4.750758e+07
min,NaN,1.000000,0.000000,-64.000000,NaN,0.000000,1.484237e+09,303.899000,0.000000,NaN,1.264761e+09
25%,NaN,66.500000,53.000000,0.000000,NaN,4.000000,1.502691e+09,317.661000,279.243000,NaN,1.416323e+09
50%,NaN,169.000000,146.000000,0.000000,NaN,13.000000,1.505054e+09,355.791000,329.702000,NaN,1.449085e+09
75%,NaN,390.000000,349.000000,0.000000,NaN,40.000000,1.505551e+09,444.954000,413.417500,NaN,1.470379e+09
max,NaN,4570.000000,4476.000000,171.000000,NaN,10575.000000,1.505595e+09,983.085000,911.124000,NaN,1.484236e+09

In [36]:
df_user.isnull().sum()

user_id                         0
submission_count                0
problem_solved                  0
contribution                    0
country                      1153
follower_count                  0
last_online_time_seconds        0
max_rating                      0
rating                          0
rank                            0
registration_time_seconds       0
dtype: int64

# df_prob

In [39]:
df_prob.describe(include='all')

       problem_id level_type       points            tags
count        6544       6411  2627.000000            3060
unique       6544         14          NaN             882
top     prob_5531          A          NaN  implementation
freq            1       1042          NaN             297
mean          NaN        NaN  1452.381804             NaN
std           NaN        NaN   789.542461             NaN
min           NaN        NaN    -1.000000             NaN
25%           NaN        NaN  1000.000000             NaN
50%           NaN        NaN  1500.000000             NaN
75%           NaN        NaN  2000.000000             NaN
max           NaN        NaN  5000.000000             NaN

In [40]:
df_prob.isnull().sum()

problem_id       0
level_type     133
points        3917
tags          3484
dtype: int64

## df_train

In [42]:
df_train.describe(include='all')

        user_id problem_id  attempts_range
count    155295     155295   155295.000000
unique     3529       5776             NaN
top     user_28  prob_5071             NaN
freq        105       1365             NaN
mean        NaN        NaN        1.755028
std         NaN        NaN        1.078450
min         NaN        NaN        1.000000
25%         NaN        NaN        1.000000
50%         NaN        NaN        1.000000
75%         NaN        NaN        2.000000
max         NaN        NaN        6.000000

In [43]:
df_train.isnull().sum()

user_id           0
problem_id        0
attempts_range    0
dtype: int64

In [47]:
df_train.attempts_range.unique()

array([1, 3, 2, 4, 5, 6], dtype=int64)